<div style="text-align:center">
  <h1>
    Current City: {{city}}
  </h1>
</div>

<mat-toolbar *ngIf="notDefined(city)">
  <mat-toolbar-row>
    Enter a city or accept location services:
    <mat-form-field>
      <input value="Atlanta" matInput #box matInput (keyup.enter)="city = box.value"/>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="!notDefined(city)">


  <mat-accordion>
    <mat-expansion-panel *ngFor="let stop of stops, index as i">
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          Activity {{i+1}}
        </mat-panel-title>
        <mat-panel-description>
          {{notDefined(stop.name) ? "("+stop.type+")" : stop.name }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card-content>


        <div style="display: flex; justify-content: center;">
          <mat-form-field>
            <mat-select placeholder="Activity Type" [(ngModel)]="stop.type">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Location" ngx-google-places-autocomplete
                   [options]='options'
                   (onAddressChange)="stop.name=$event.name;
                 stop.lat = $event.geometry.location.lat();
                  stop.lng = $event.geometry.location.lng();"/>
          </mat-form-field>

        </div>
        <div *ngIf="stop.lat && stop.lng">

          <agm-map [scrollwheel]="null" [mapDraggable]="false" [latitude]="stop.lat" [longitude]="stop.lng" [zoom]="15">
            <agm-marker
              [latitude]="stop.lat"
              [longitude]="stop.lng"
            >
            </agm-marker>
          </agm-map>
        </div>

      </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>


  <hr>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let pair of legs, index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Directions from {{pair[0].name}} to {{pair[1].name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let step of directions.routes[0].legs[i].steps, index as j">
            <div [innerHTML]="directions.routes[0].legs[i].steps[j].instructions"></div>
          </li>
        </ul>
        <hr>
        <agm-map [latitude]="(pair[0].lat + pair[1].lat) / 2"
                 [longitude]="(pair[0].lng + pair[1].lng) / 2">
          <agm-direction *ngIf="pair" [origin]="pair[0].addr" [destination]="pair[1].addr">
          </agm-direction>
        </agm-map>


        <agm-map [hidden]="true" *ngIf="i == legs.length-1" [latitude]="(pair[0].lat + pair[1].lat) / 2"
                 [longitude]="(pair[0].lng + pair[1].lng) / 2">
          <agm-direction [origin]="pair[0].addr" [destination]="pair[1].addr">
          </agm-direction>
        </agm-map>

      </mat-card-content>
    </mat-expansion-panel>

  </mat-accordion>


  <div style="display: flex; justify-content: center;">
    <button mat-raised-button (click)="addStop()">+ Add New Activity</button>
    <button mat-raised-button (click)="reset()">Reset</button>
    <button mat-raised-button (click)="submit()">Submit</button>
  </div>

</mat-card>
